body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Monoton', cursive;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background-color: #d8f3dc;
    font-size: 1.5rem;
}

nav>ul {
    width: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav>ul>li>a{
    text-decoration: none;
    color: #1c343d;
}

nav>ul>li>a:hover{
    text-decoration: underline;
    color: #ff595e;
}


.about{
    background-color: #1c343d;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.front{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%; 
    margin: 0 auto;
    height: 90%;
}

.hello{
    color: #d8f3dc;
}

.profile-pic>img{
    width: 18rem;
    height: auto;
    border-radius: 50%;
}

.contact{
    color: #d8f3dc;
    font-size: 1rem;
    padding: 0 3rem;
    height: 5%;
}


.contact>p>a{
    color: #ff595e;
    font-weight: 700;
}

.contact>p>a:hover{
    color: #06d6a0;
}

.hello{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hello>p{
    font-size: 2rem;
    margin: 0;
    width: 60%;
    text-align: center;
}

.hello>p>span{
    font-weight: 700;
    color: #06d6a0;
}

.hello>.greetings{
    font-size: 5rem;
    color: #06d6a0;
    /* font-weight: 700; */
}

/* .about {
    background-color: #1c343d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65%;
}
.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    height: 100%;
}

.contact{
    font-size: 1.2rem;
    display: flex;
    justify-content: left;
    align-items: flex-end;

}

.greetings{
    font-size: 5rem;
    padding: 0 0 0 1rem;
}

.hello>div>p {
    color: #d8f3dc;
    margin: 0;
}
.hello>div>p>span {
    color: #06d6a0;
}
.profile-pic{
    display: flex;
    justify-content: center;
    flex: 1;
}

.profile-pic>img {
    width: 30rem;
    height: auto;
    /* margin: 5rem 0; */
    padding: 0;
} */